@import url('./reset.css');
@import url('./gallery.css');
@import url('./form.css');

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.discription {
  text-align: center;
}
